http://aaa.aaa.aaa {
redir https://aaa.aaa.aaa{uri} permanent
}
http://aaa.aaa.aaa:8080 {
reverse_proxy * http://127.0.0.1:8888 {
	header_up Host {upstream_hostport}
	header_up X-Forwarded-Host {host}
}
#file_server browse
#root * /www
}
